/*
* Preset: style06
* Preset Name: Florida Beach
*/

body{background-color:#eee;}

#insta-top-fixed,#insta-footer, #insta-bottom-fixed{background:#2373C2;}
#insta-top-fixed .navbar-inverse .brand,
#insta-top-fixed .navbar-inverse .nav > li > a,
#insta-top-fixed .navbar-inverse .nav > li > a:focus,
#insta-top-fixed .navbar-inverse .nav > li > a:hover{color:#EDEDED;text-shadow:none;}
#insta-top-fixed .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
#insta-top-fixed .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
#insta-top-fixed .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{background:none;}
#insta-top-fixed .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret,
#insta-top-fixed .navbar-inverse .nav li.dropdown > a:hover .caret,
#insta-top-fixed .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
#insta-top-fixed .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
#insta-top-fixed .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret{border-bottom-color:#EDEDED;border-top-color:#EDEDED;}

#insta-header{position:relative;-moz-box-shadow:0px 0px 4px rgba(0,0,0,0.4);
-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.4);
box-shadow:0px 0px 4px rgba(0,0,0,0.4);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#66000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#66000000,Positive=true);}

/* the content */
.pushdown{margin-top:0;}
#page{background:url("images/bg.jpg") repeat-x top center;padding-top:20px;min-height:477px;}
.custom-background #page{background-image:none;}

.widget_bapi_specials_widget .special-title{font-size:17px;}
.widget_bapi_specials_widget .special-sum{font-size:13px;}

/* home page content */
.hp-content{padding:35px;}
.hp-content p{color:#000;font-size:16px;line-height:200%;}

/* fix theme04 
-----------------------*/
.home.instatheme04 #page{background:none;}
.instatheme04 .pushdown.wpadminbarvisible,.instatheme04 .pushdown{margin-top:40px;}
.instatheme04 #page{padding-top:20px;}

/* fixes theme02 
-----------------------*/
body.instatheme02{background-image:none;}
.instatheme02 #insta-header{background:#fff;}
.instatheme02 #insta-header > .maintainer{background:none;border-bottom:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.instatheme02 .navbar .brand,
.home.instatheme02 .widget_bapi_featured_properties .property-link{color:#fff;}
.instatheme02 .navbar-inverse .navbar-inner,
.instatheme02 .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.instatheme02 .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.instatheme02 .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{background:#2373C2;border-color:#2373C2;}

/* fixes theme03 
-------------------------------------*/

.instatheme03 #page{background:url("images/bg.jpg") repeat-x top center #EEEEEE;padding-top:0;min-height:0}
.instatheme03 .widget_bapi_property_finders h3 {color:#336699 !important;}
.instatheme03 .widget_bapi_featured_properties h3 {color:#336699 !important;}
.instatheme03 .widget_bapi_weather_widget h3 {color:#336699 !important;}
.instatheme03 h3 {color:#336699;}
.instatheme03 .widget_bapi_specials_widget .widget-title .glyphicons{color:#336699;}
.instatheme03 .mihp-content h1{color:#336699;}
.instatheme03 #insta-footer {background: none;}
.instatheme03 #footerout{background:none; color:#333333;}
.instatheme03 #footerout .span12 .span3 {border-top:1px solid #999999;}
.instatheme03 .widget_bapi_footer{border-top:1px solid #999999;}
.instatheme03 #insta-footer .nav h3{color:#336699;}
.instatheme03 #insta-footer .nav li a{color:#333333;}
.instatheme03 .widget_bapi_footer .footer-links a{color:#333333;}
.instatheme03 #insta-footer .MR_Social_Sharing_Toolkit_Follow_Widget div.mr_social_sharing_top a{color:#333333;}

/* fixes theme05
-------------------------------------*/
.instatheme05 #insta-header{background:url("images/bg.jpg") repeat-x top center;}
body.custom-background #insta-header{background-image:none;}
.home.instatheme05 #page{padding-top:0;}
.instatheme05 .navbar-inner{background:#2373C2;border-color:#2373C2;}
.instatheme05 .home-qsearch .search-button-block .quicksearch-dosearch{background:#005299;border-color:#005299;color:#fff;}

.instatheme05 .navbar-inverse .nav > li > a:hover,
.instatheme05 .navbar-inverse .nav li.dropdown.open > .dropdown-toggle{background:none;color:#fff;text-shadow:none;}

.instatheme05 .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret,
.instatheme05 .navbar-inverse .nav li.dropdown > a:hover .caret,
.instatheme05 .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.instatheme05 .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.instatheme05 .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret
{border-bottom-color:#fff;border-top-color:#fff;}

.instatheme05 .hp-content{background:none;}
.instatheme05 .hp-content h1,.instatheme05 .hp-content h2,.instatheme05 .hp-content h3{background:none;color:#000;font-weight:bold;width:100%;}
.instatheme05 .hp-content p{color:#666;font-size:17px;line-height:170%;}
.instatheme05 .testimonial{border-bottom:1px solid #d4d4d4;}

.instatheme05 #insta-footer{background:transparent;color:#333;}
.instatheme05 #insta-footer a,.instatheme05 .widget_bapi_footer .footer-links a{color:#333;}


/* fixes theme06 
-------------------------------------*/
.instatheme06 #insta-header{background:#fff;}
.instatheme06 #insta-footer{background: #eeeeee;}
.instatheme06 .footer-info{background: #2373C2;}


/* fixes theme07 
-------------------------------------*/
.instatheme07 .nav-footer h5,
.instatheme07 .nav-footer .mr_social_sharing_wrapper{border-top-color:#fff;}
.instatheme07 .nav-footer{border-bottom-color:#fff;}
.instatheme07 .pushdown,.instatheme07 .pushdown.wpadminbarvisible{margin-top:40px;}
.home.instatheme07 .pushdown,.home.instatheme07 .pushdown.wpadminbarvisible{margin-top:0;}
.home.instatheme07 .home-slideshow{margin-bottom:0;}
.instatheme07 #insta-top-fixed ul.nav .glyphicons.home i:before{color:#fff;}
.instatheme07 .home-qsearch span.cal-icon-trigger{color:#005299;}
.instatheme07 .home-qsearch .widget_bapi_hp_search .search-button-block .quicksearch-dosearch{background-color:#005299;}

/* fixes theme08 
-------------------------------------*/
.instatheme08 .home-qsearch #bapi-search{background:#000;}
.instatheme08 .pushdown,.instatheme08 .pushdown.wpadminbarvisible{margin-top:60px;}
.home.instatheme08 .pushdown,.home.instatheme08 .pushdown.wpadminbarvisible{margin-top:0;}
.home.instatheme08 .home-slideshow{margin-bottom:0;}

.instatheme08 #insta-top-fixed ul.nav .glyphicons.home i:before{color:#fff;}
.instatheme08 .home-qsearch span.cal-icon-trigger{color:#005299;}
.instatheme08 .home-qsearch .widget_bapi_hp_search .search-button-block .quicksearch-dosearch{background-color:#005299;}

.instatheme08 .hp-content{background:none;}
.instatheme08 .testimonials .author h3{color:#006DCC;}
.instatheme08 .block-photo img,.instatheme08 .testimonials .content{background:#fff;}
.instatheme08 .bottom-full-home h3 span{background:#eee;}


/* fixes theme09 
-------------------------------------*/
.instatheme09 .widget_bapi_weather_widget{background:none;}
.instatheme09 .navbar-inverse .navbar-inner, .instatheme09 #navigation{background:#2373c2;}
.instatheme09 .navbar-inverse .nav li.dropdown.open>.dropdown-toggle{background-color:#2373c2;}
.instatheme09 .hp-content h1, .instatheme09 .widget_bapi_featured_properties h3, .instatheme09 .widget_bapi_property_finders h3, .instatheme09 .widget-title .glyphicons{color:#2373c2;}

